{:paths ["src"]
 :deps {org.babashka/http-server {:mvn/version "0.1.9"}}
 :init (def cli-opts (cli/parse-opts *command-line-args* {:coerce {:port :int}}))
 :tasks {cljs (shell "npx shadow-cljs compile app")
         serve {:requires ([babashka.http-server :as server])
                :task (server/exec {:port 8000
                                    :dir "./public"})}
         deploy (do
                  (run 'cljs)
                  (shell "flyctl deploy"))
         dev:cljs {:task (do
                           (println "Starting shadow-cljs in watch-mode")
                           (shell "npx shadow-cljs watch app"))}}}
